@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$computex-primary: mat.define-palette(mat.$indigo-palette);
$computex-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$computex-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$computex-theme: mat.define-light-theme(
  (
    color: (
      primary: $computex-primary,
      accent: $computex-accent,
      warn: $computex-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($computex-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-page {
    @apply w-full max-w-7xl m-auto;
  }

  .table-box {
    @apply max-w-full overflow-auto;

    table {
      @apply w-full;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Noto Sans TC', sans-serif;
}
* {
  scrollbar-width: thin;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-box {
  max-height: calc(
    100vh - /* mat-min-fab */ 48px - /* padding */ 32px - /* mat-tab-header */
      56px - /* mat-paginator */ 56px
  );
}
.default-box {
  max-height: calc(
    100vh - /* mat-min-fab */ 48px - /* padding */ 32px - /* mat-tab-header */
      56px
  );
  overflow: auto;
}

/* expansion */
mat-expansion-panel-header .mat-expansion-indicator::after {
  border-color: #44474e;
}
mat-expansion-panel .mat-expansion-panel-body {
  padding: 0 0 16px;
}

/* table */
// table
th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-mdc-footer-cell {
  padding: 4px 8px !important;
}
th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
  padding-left: 24px !important;
}
th.mat-mdc-header-cell:last-of-type,
td.mat-mdc-cell:last-of-type,
td.mat-mdc-footer-cell:last-of-type {
  padding-right: 24px !important;
}
th.mat-mdc-header-cell {
  white-space: nowrap !important;
}

/* tabs */
mat-tab-group.h-full {
  .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
  }
}
